@page "/components"

<h3>Components</h3>

<div class="row">
    <div class="col-4">
        <Counter />
    </div>
    <div class="col-4">
        <Counter />
    </div>
    <div class="col-4">
        <Counter />
    </div>
</div>

<div>
    <FetchData></FetchData>
</div>