@layout SecondaryLayout
@page "/special"

<div class="row">
    <div class="col">
        <h1>Experimental page</h1>
        <p>This page is in early development stage.</p>
    </div>

    <div class="container">
        <div class="row">
            <p>Do you like it?</p>
        </div>
        <div>
            <button class="btn btn-success" @onclick="YesVote">Yes</button>
            <button class="btn btn-danger" @onclick="NoVote">No</button>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Yes-votes</th>
                    <th scope="col">No-votes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@YesVotes</td>
                    <td>@NoVotes</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>