@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://willitwork.com" target="_blank">Experimental Page</a>
    </div>

    <div class="content px-4">
        @Body
    </div>

    <div class="modal-footer">
        Experimental - Contents Copyrighted 2020
    </div>
</div>

