@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 bg-secondary">
        <a href="https://weather.com" target="_blank">Get The Weather!</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
